/*General Fonts Imports*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');/*colocamos el estilo de letra*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');/*colocamos los iconos*/
/*General Common Styles*/
:root {
    --primary: rgb(88, 252, 209);
    --secondary: rgb(12, 238, 178);
    --dark: rgb(33, 37, 47);
    --body: rgb(136, 136, 136);
    --white: rgb(246, 240, 240);/*si se altera esta linea, se altera la linea 46*/
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #07dffd;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}
a:hover {
    opacity: 1;
}
a.btn {
    color: rgb(5, 248, 183);
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #f31d4d;
    font-weight: 800;
    text-align: center;
}
.card-effect {
    box-shadow: var(--box-shadow);
    background-color:#DFE5EF ;
    padding: 25px;
    transition: all 0.35s ease;
}
.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

/*Header styles*/
#header.navbar .container-fluid
{
    background-color: rgb(255, 0, 0);
}
#header #language1{
    padding-right: 3rem;
    color: #ffffff;
}
#header #language{
    padding-left: 0.5rem;
    color: #00e7ff;
}
#header #switcher{
    display: flex;
}
#header .form-switch{
    align-items: flex-end;
}
/*Aqui se estiliza el tamaño del logo*/
#header .navbar .container-fluid .navbar-brand img{
    width: 35px;
    height: 31px;
}


/**/
#header .navbar{
    display: flex;
    background-color: #21252f;
    border-bottom: 1px solid rgb(33, 37, 47);
    position: sticky;
    box-shadow: var(--box-shadow);
}
#header .navbar .navbar-brand {
    font-size: 25px;
    padding-left: 3rem;
}
#header .language{
    padding-left: 7rem;
}
#header .form-switch{
    display: flex;
}

#header .nav-item span{
    padding-left:1px;
    padding-right: 3rem;
    color: #ffffff;
}
#header .container-button .toggle.active{
    background: #ffffff;
}
#header .container-button .toggle.active .toggle-button{
    Left:35px;
}
#header .container-button .toggle .text{
    color: rgb(255, 255, 255);
    position: absolute;
    top:3px;
    Left:70px

}
#header .switch .container{
}
#header .form-check-input {
    width: 50px;
    height: 25px;
    transition: 0.3s;
/*Section Common Styles*/
section{
    padding-left: 0rem;
    margin-left: 0rem;
}

/*AboutUs styles*/
#Us .embed-responsive {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#about-us {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
#Us .container .row ul li span{
    padding-left: 1rem;
}
#Us .container .row ul li span::before{
    padding-left: 1rem;
}
#Us .container .row ul li span::after{
    padding-left: 1rem;
}